<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Amazon suite test" verbose="1">
<listeners>
        
        <listener class-name="com.rsp.tests.utils.AnnotationTransformer"/>
    </listeners>

    <test name="Amazon">
       <parameter name="produit" value="iphone" />
        <classes>
            <class name="Steps.TestRunners"/>
        </classes>
    </test>

</suite>